@charset "utf-8";

#header{background: #438D3B;}
#header .inner{width: 1570px;}
#header .top_nav{background: #343434; }
#header .top_nav .gnb{display: flex;justify-content: flex-end;align-items: center;}
#header .top_nav .gnb li{margin-left: 25px;}
#header .top_nav .gnb li a{padding: 8px 30px; border-left: 1px solid #5f5f5f;}
#header .top_nav .gnb li:last-child a{border-right: 1px solid #5f5f5f;}
#header .top_nav a{color: white;}
#header .main_nav .logo{display: block;}
#header .main_nav .sub_logo{display: none;}
#header .main_nav .nav{position: relative;}
#header .main_nav .nav a{font-size: 1.2rem; font-weight: bold;}
#header .main_nav .nav .lnb{float: left;}
#header .main_nav .nav .lnb>a{padding: 40px 50px; text-align: center; color: white;}
#header .main_nav .nav .lnb:last-child>a{padding-right: 0;}
#header .main_nav .nav .lnb::before{content: '/'; position: absolute; top: 55px; transform: translateY(-50%); color: #ccc; font-weight: 100;}
#header .main_nav .nav .lnb:first-child:before{content: '';}


#header.sub .main_nav {background: white; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);}
#header.sub .main_nav .logo{display: none;}
#header.sub .main_nav .sub_logo{display: block;}
#header.sub .main_nav .nav a{color: #292929;}


@media (max-width: 1500px){
    #header .inner{width: 100%; padding: 0 40px;}
}