
#find_business_table tbody tr{cursor: pointer;}
#find_business_table tbody tr:hover{background: #E9F4FF;}


/* container */
.container .sub_title{border-bottom: 1px solid #ddd; padding-bottom: 20px;}
.container .select_title{color: #646464; padding-left: 8px;}
.container .title_maininfo{font-size: 20px; font-weight: bold; margin-bottom: 20px;}

/* detail */
.detail .pic p{font-size: 20px;}
.detail .info{width: 600px; padding: 5px; margin-bottom: 120px;}
.detail .info .gnb{margin-left: 50px;}
.detail .info .gnb li{margin-bottom: 8px;}
.detail .info .gnb li .review{width: 250px;}
.detail .info .gnb li .title{color: #646464;}
.detail .info .title_approval{border: 1px solid #ddd; border-radius: 8px; display: inline-block; padding: 10px 15px; margin-bottom: 30px;}
.detail .info .title_name{font-size: 28px; font-weight: bold;}
.detail .info .title_scor{font-size: 25px; font-weight: bold;}
.detail .info .title_submenu .lnb{padding: 7px 12px; border: 1px solid #ddd; border-radius: 20px; margin-right: 10px;}
.detail .info .title_submenu .lnb:last-child{margin: 0;}

/* evaluation */
.evaluation .box{background: #E9F4FF; padding: 40px 50px; border-radius: 20px; float: left;}
.evaluation .box .icheck{width: 225px;}
.evaluation .box .btn2{text-align: center; padding: 15px 0; float: right;}
.evaluation .icheck_wrap{margin-left: 40px;}
.evaluation .answer_sel{border-bottom: 1px solid #c7d2dd; padding-bottom: 20px; margin-left: 40px;}
.evaluation .answer_sel label{font-size: 20px;}
.evaluation .answer_sel input{margin-left: 20px; width: 20px;}
.evaluation .answer_sel input:first-child{margin: 0;}


/* pagenation */
.pagenation .boder_box{border: 1px solid #ccc; padding: 5px; border-radius: 10px; margin: 0 8px; cursor: pointer;}
.pagenation .number{display: inline-block; font-size: 20px; font-weight: bold; color: #646464; margin: 0 20px; cursor: pointer;}
.pagenation .number.on{background: #eee; padding: 12px 20px; border-radius: 10px; margin: 0 8px;}
.pagenation .number.on a{color: #0F64BB;}


/* signUp, login */
.center_box{width: auto !important; padding: 50px 60px; background: #E9F4FF; box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.center_box .title{padding-bottom: 20px; border-bottom: 1px solid #ddd;}
.center_box .box{width: 100%;align-items: flex-start ;}
.center_box .box .text{width: 80px; font-size: 18px; font-weight: bold;margin-top: 10px;}
.center_box .box .info{max-width: 300px; color: #aaa; font-size: 15px; margin-top: 5px;}
.center_box .box input{width: auto;}
.center_box .id_box{width: 300px; }
.center_box .id_box input{width: 95% !important;}
.center_box .id_box input.active{background: #eee; pointer-events : none;}
.sign_up_box .box input{width: 320px; max-width: 320px;}




/*착한가격업소란?*/
.girl{height: 300px;}
.girl{height: 20px; margin-left: 150px; margin-top: 20px;}
.mean{text-align: center; margin-top: 200px;}
.mean img{overflow-clip-margin: content-box; max-width: 100%; margin: 100px auto;}
.mean h1{font-size: 5rem; margin: 70px; font-family: "Black Han Sans", sans-serif; font-weight: 200;}
.mean p{font-size: 2rem; font-family: "Hahmlet", serif;}
.mean .mg p{ margin-left: 100px;}
.mean span{color: #152fc2; font-size: 2rem;}


.mean h2{font-size: 60px; margin: 60px; font-family: "Black Han Sans", sans-serif; font-weight: 200;}

---------------------------------------------------------------------------------

/*착한 업소 지정 절차*/
.whatonebox{overflow: hidden; margin: 0 -20px;}
.whatonebox .item {padding: 0 20px; float: left; width: 20%; position:relative;}
.whatonebox .item::after {content:''; display:block; width:50px;height: 50px; background:url(../images/mean/whatoneimg6.png) no-repeat 0 0; position:absolute; right:-15px; top: 82px;}
.whatonebox .item .item_in {width: 200px;margin: 0 auto;}
.whatonebox .item .circle {width: 200px;height: 200px;background-color: #edeff4;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
.whatonebox .item .circle .img {margin-bottom: 10px;}
.whatonebox .item .circle .img img {display: block;margin: 0 auto;}
.whatonebox .step {margin: 20px 0 10px 0;}
.whatonebox .step span {margin: 0 auto;display: inline-flex;width: 70px;height: 25px;background-color: #9b9faa;border-radius: 10px;display: flex;align-items: center;justify-content: center;font-size: 16px;color: #fff;font-weight: 500;font-family: "Montserrat", sans-serif;}
.whatonebox .imgunder1 {text-align: center; font-size:30px; color: #333333; font-weight:500;}
.whatonebox .imgunder2 {font-size: 24px;color: #366cf0;font-weight: 600;}


.whatonebox .item .last::after {display: none;}
.whatonebox .item .last .circle {background-color: #366cf0;}
.whatonebox .item .last .imgunder1 {color: #fff;}
.whatonebox .item .last .step span {background-color: #366cf0;color: #fff;}



.whatonebox .item.item3::after {display: block;}
/* .whatonebox .item.item2::after,
.whatonebox .item.item4::after  {display: none;} */

.whatonebox .item::after {background-size: 17px auto;width: 17px;height: 20px;}
/* .whatonebox .item::after {top: 38px;right: -7px;} */



----------------------------------------
/*착한업소 혜택*/
.ht{margin-bottom: 50px;}
.mobum_wrap{display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;
            }
.mobum_wrap .mw_box{float:left; padding:50px; position: relative;
                    height: 500px;}

.mobum_wrap .mw_box::after{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/mean/whatoneimg7.png) no-repeat 0 0;
    position: absolute;
    right: -16px;
    top: 50%;
    margin-top: -16px;
}

::after{box-sizing: border-box;}

.mw_tit{height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #366cf0;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    border-radius: 25px 25px 0 0;}

.mw_box .mw_cont{height: 300px;}

.mw_cont{border: 2px solid #366cf0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 25px 25px;
    padding: 20px;}

.mw_item1, .mw_item2, .mw_item3{height: auto;}
.mw_item1, .mw_item2 {margin-bottom: 10px;}

.mw_item1, .mw_item2, .mw_item3, .mw_item4{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px dotted #c8ccd5;
    background-color: #edeff4;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.mw_box2{float: left; padding: 50px; position: relative; height: 400px;}
.mw_box2 .mw_box_in{width:500px; height: 300px;}

.mw_box_in{border-radius: 25px; }

.mw_box2 .mw_cont{height: 200px;}

.mw_item4{height: 160px;}


-------------------------------------------------

/*모범음식점*/
.man{height: 200px; width: 200px;}
.man{height: 200px; width: 200px; margin-left: 60px;}
/* .mean2{text-align: center;} */
.mean2 h1{ text-align: center; font-size: 5rem; font-family: "Black Han Sans", sans-serif; font-weight: 200;}
.mean2 h2{text-align:center; font-size: 3rem; margin: 50px; font-family: "Black Han Sans", sans-serif; font-weight: 200;}
.mean2 p{text-align:center; font-size: 2rem; font-family: "Hahmlet", serif;}
.mean2 .gj p{ margin-left: 400px;}
.mean2 span{color: #152fc2; font-size: 2rem;}
.mean2 img{max-width: 80%;}
.mean2 img:hover{
    width: 800px;
    border-radius: 80%;
    transition: 2s ease;
}


.mobum_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
    /* padding: 50px; */
}

.mobum_box{
    size: 500px;
}
.mobum_container .mobum_box{
    text-align: center;
    border: var(--border);
    display: flex;
    height: 20rem;
    flex-direction: column-reverse;
}


.mean2 .box-container{
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
}

.mean2 .box-container .box{
    padding: 1rem;
    text-align: center;
}

.mean2 .box p{
    color: #0F64BB;
    font-size: 25px;
}


@media (max-width:1200px) {
    .tit h2::after{ width: 100%;}
}
@media (max-width:700px) {
    .tit p{width: 100%;}
    .item_in .circle {width: 120px;height: 120px;}
}

@media (max-width: 575px){
    .mobum_wrap .mw_box {float: none; padding: 15px 0;}
}


@media (max-width: 1199px){
    .whatonebox .item {width: 33.333333333%;}
    .whatonebox .item .item_in, .whatonebox .item .circle {width: 200px;}
    .whatonebox .item .item_in {height: 350px;}
    .whatonebox .item .circle {height: 200px;}
    .whatonebox .item::after {top: 70px;}
    .whatonebox .item.item3::after {display: none;}


}


@media (max-width: 991px){
    .whatonebox .item {width: 50%;}
    .whatonebox .item.item3::after {display: block;}
    .whatonebox .item.item2::after,
    .whatonebox .item.item4::after  {display: none;}
}



@media (max-width: 500px){
    .whatonebox h1{font-size: 1.3rem;}
    .whatonebox h2{font-size: 1.2rem;}
    .whatonebox h3{font-size: 1.13rem;}
    .whatonebox .item .item_in,
    .whatonebox .item .circle {width: 100px;}
    .whatonebox .item .circle {height: 100px;}
    .whatonebox .imgunder1 {font-size: 15px;}
    .whatonebox .item .circle .img img {width: 30px;}
    .whatonebox .imgunder2 {font-size: 13px;}
    .whatonebox .item::after {background-size: 17px auto;width: 17px;height: 20px;}
    .whatonebox .item .item_in {height: 225px;}
    .whatonebox .item::after {top: 38px;right: -7px;}

}